<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<services>
		<service name="CheckersService.CheckersService">
			<endpoint address="" binding="basicHttpBinding" contract="CheckersService.ICheckersService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<host>
				<baseAddresses>
					<add baseAddress="http://localhost:8733/CheckersService/" />
				</baseAddresses>
			</host>
		</service>
	</services>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	
</configuration>